mixin sFree(data)
	// start sFree
	+b.sFree.section#sFree&attributes(attributes)
		.container
			+e.block
				.row 
					.col
						p Зарегистрируйтесь бесплатно прямо сейчас и&nbsp;я&nbsp;подарю Вам своего криптовалютного робота, с&nbsp;которым я&nbsp;зарабатываю от&nbsp;100% в&nbsp;месяц!
						+e.btn.lb_target(type="button") ЗАБЕРИТЕ БЕСПЛАТНО
					.col-lg-auto.order-lg-first 
						+pic("free-man.png",'',0)
	// end sFree