.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-chevron-left {
	font-size:(42/10)*1rem;
	width:(22/42)*1em;
}
.icon-chevron-right {
	font-size:(42/10)*1rem;
	width:(22/42)*1em;
}
