mixin sRew(data)
	// start sRew
	+b.SECTION.sRew.section#sRew&attributes(attributes)
		.container
			+b.section-title
				h2.text-primary САМОЕ ГЛАВНОЕ:
				+e.text Уже сейчас&nbsp;Вы можете делать СОТНИ процентов криптовалютной прибыли&nbsp;&mdash; почти на&nbsp;автомате!
			+carusel('screen','screen','screen','screen')
	// end sRew