mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout#sAbout&attributes(attributes)
		.container.section
			+b.section-title
				h2.text-primary Вы ТОЧНО слышали об этом...
				.h5 #[strong О&nbsp;биткоине]. О&nbsp;его стоимости говорят даже по&nbsp;телевизору. За&nbsp;последние 10&nbsp;лет он проделал путь от&nbsp;нескольких центов за&nbsp;единицу, до&nbsp;более чем #[strong.text-primary $50&nbsp;000]
			.row
				.col-xl-7.col-lg-6
					+pic("about.png")
				.col
					p Миллионы людей по&nbsp;всему миру думают, что упустили свой шанс сколотить состояние.

					p: strong На&nbsp;самом деле, мы&nbsp;лишь  в&nbsp;начале пути!

					p Тренд на&nbsp;всеобщую цифровизацию только начался. Страны озадачены вопросами выпуска цифровых валют. Юристы повсеместно внедряют &laquo;умные контракты&raquo;
		.container.section
			+b.section-title
				h2.text-primary Не знаете, что такое «криптовалюта»?
			.row 
				.col-lg-6 
					p Не беда! Уже на первых уроках Вы поймете всю суть криптовалют и даже сможете доходчиво объяснить это кому угодно.
				.col-lg-6 
					p
						span.strong  Спекуляции ими выглядят точно так же, как обычными акциями или FOREX: тот же график, те же «кнопки» в компьютерной программе-терминале..
	// end sAbout