extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/s-steps/_s-steps.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sRew/_sRew.pug
include ../blocks/sAuthor/_sAuthor.pug
include ../blocks/sGal/_sGal.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sFree/_sFree.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent


	+mob-mnu()
	+topLine
	+header()

	+sVideo
	+sAbout
	+sRew
	+s-steps
	+sAuthor
	+sGal
	+sWhy
	+sFree
	+footer()
      



