mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container
			+b.section-title
				h2.text-primary Почему нам можно верить?
				
			.row
				mixin item(t,p)
					+e.col.col-lg-4.col-sm-6 
						+e.item
							.h5!= t
							p!= p
				+item(`Мы&nbsp;не&nbsp;лезем  в&nbsp;Ваш карман`,`Вам не нужно инвестировать в сомнительные проекты, вкладывать деньги, чтобы пройти обучение, и вообще что-либо покупать.`)

				+item(`Мы&nbsp;не&nbsp;связаны  ни&nbsp;с&nbsp;одной биржей`,`Мы&nbsp;не&nbsp;зарабатываем на&nbsp;комиссионных и&nbsp;не агитируем Вас вкладывать деньги. Напротив, мы&nbsp;научим Вас всем способам снижения рисков.`)

				+item(`Мы не обещаем  золотые горы`,`Нужно быть настоящим профи, чтобы заколачивать миллионы. Но&nbsp;мы&nbsp;научим Вас делать от&nbsp;+10% прибыли каждые пару дней. Это копейки по меркам криптовалютного рынка. Но&nbsp;эти копейки&nbsp;&mdash; под силу каждому!`)
	// end sWhy