mixin s-steps()
	// start s-steps
	+b.s-steps.section#s-steps&attributes(attributes)
		.container 
			.row.row-cols-lg-2
				mixin li(t)
					+e.item
						+e.title= t
						block
				.col-xl-auto.col-lg-6
					+li("ДОСТУПНО И БЫСТРО")
						p Крипто-рынок&nbsp;&mdash; идеальное решение, чтобы быстро разогнать небольшой депозит (от&nbsp;100&nbsp;долларов)
					
					+li("НА АВТОМАТЕ")
						p Вы&nbsp;не&nbsp;торгуете на&nbsp;бирже сами. Вы&nbsp;отдаете приказы роботу, выставляя &laquo;ловушки&raquo; на графике. Всё остальное делает торговый робот: открывает сделки, управляет ими в процессе и&nbsp;закрывает
					+li("НЕПОВТОРИМАЯ СТРАТЕГИЯ")
						p Евгений Стриж, автор системы, заработал на&nbsp;криптовалюте более миллиона долларов с&nbsp;2018&nbsp;года. Он&nbsp;заложил в&nbsp;робот наиболее прибыльные алгоритмы
					+li("ПОПРОБУЙТЕ САМИ")
						p После прохождения онлайн-курса Вы получите торговый робот абсолютно бесплатно на&nbsp;пробный период. За&nbsp;это время вы&nbsp;уже можете заработать первые деньги!
				.col-xl-auto.col-lg-6 
					+li("ПРАКТИЧЕСКИЕ ЗАДАНИЯ")
						p Выполняя несложные задания, Вы закрепите пройденный материал и добьетесь стабильного результата
					
					+li("ПЕРСОНАЛЬНАЯ ПОДДЕРЖКА")
						p Помимо помощи от&nbsp;авторов курса в закрытой группе в&nbsp;Инфоклубе, Вы&nbsp;(при необходимости) получите персональные консультации от&nbsp;специалистов Службы Заботы Инфо-ДВД. В&nbsp;том числе и&nbsp;по телефону!
					+li("АБСОЛЮТНО БЕСПЛАТНО")
						p Никаких ограничений и&nbsp;уловок! Все уроки &mdash;&nbsp;бесплатно и&nbsp;прямо сейчас. Записи останутся у&nbsp;Вас навсегда!
					+li("ЭТА ВОЗМОЖНОСТЬ  НЕ БУДЕТ ВЕЧНОЙ!")
						p Когда на&nbsp;крипто-рынок придут все крупные трейдеры мира, он&nbsp;станет таким&nbsp;же как и все остальные рынки. Возможность генерировать сверхприбыли так легко &mdash; исчезнет. Но&nbsp;за&nbsp;ближайшие пару лет у&nbsp;Вас есть шанс сколотить целое состояние!
			+pic('book.png' )
		
		.section.container 
			+e.block 
				.h2.strong БЕЗ РЕКЛАМЫ!
				.row 
					p.col-lg-6 Наш пошаговый курс — это не рекламное «завлечение». Мы не рекламируем биржи, не заставляем Вас покупать наши платные курсы или торговые программы.

					p.col-lg-6 Наш пошаговый курс — это не рекламное «завлечение». Мы не рекламируем биржи, не заставляем Вас покупать наши платные курсы или торговые программы.
				+e.btn.lb_target(type="button") ПОЛУЧИТЕ ДОСТУП БЕСПЛАТНО
	// end s-steps
		