mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			.row
				.col-auto
					+logo('#034471' , "46", "39")
				.col Вы будете сильно сожалеть, если упустите эту возможность!
	// end topLine