mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.container
			+e.inner
				+b.section-title
					.h3 Автор робота
					h2.text-primary Евгений Стриж
				ul 
					li Непрерывно #[strong занимается трейдингом с&nbsp;2004] года (работает на&nbsp;рынках FOREX, NYSE, CME, криптовалюты)
					li Начинал #[strong с&nbsp;абсолютного нуля], без связей  и&nbsp;стартового капитала
					li Стандартный для Евгения заработок на&nbsp;рынке CME: #[strong +$30.000 личной прибыли на&nbsp;одной сделке] 
						br
						a(href="img/@2x/rez2.jpg" data-fancybox="gal-2") Доказательства →

					li Средний результат Евгения на&nbsp;рынке FOREX&nbsp;&mdash;  #[strong $8.000 личной прибыли в&nbsp;месяц]
						br
						a(data-fancybox="gal-2" href="img/@2x/rez3.jpg")  Доказательства →
					li С&nbsp;2011 года проводит эксклюзивное обучение в&nbsp;Инфо-ДВД
						br
						a(data-fancybox="gal-2" href="img/@2x/2020-02-20_16-32-57.jpg")  Доказательства →
					li Сторонник концепции &laquo;эффективного трейдинга&raquo;:#[strong  максимум прибыли при минимальных затратах времени и&nbsp;усилий]
					li Евгений регулярно делится видео-записями своей торговли со&nbsp;всеми желающими.
						br
						a(href="#") Вот так выглядит его типичный ЕЖЕДНЕВНЫЙ доход →
				+pic("author.png")
	// end sAuthor