mixin allcss()
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")
	//- <link rel="preconnect" href="https://fonts.gstatic.com">
	//- <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	link(href="libs/swiper/swiper-bundle.min.css", rel="stylesheet")
	<link rel="stylesheet" media="all" href="//info-dvd.ru/tools/lead_box/lead_box.css"/>
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	link(href="libs/@fancyapps/fancybox/jquery.fancybox.min.css", rel="stylesheet")
	//- script(src="js/libs.js")

	//- script(src="libs/loading-attribute-polyfill/loading-attribute-polyfill.min.js")

	// modal libs
	//-script(src="libs/jquery/jquery.min.js")
	script(src="js/jquery-2.2.4.min.js")

	link(href='//info-dvd.ru/tools/lead_box/lead_box.css', rel='stylesheet', media='all')
	script(src='//info-dvd.ru/tools/lead_box/lead_box.js?2')
	<script src="//infoclub.info/tools/api_subscriber/timer_universal.js?3"></script>

	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	// modal libs
	// slider libs
	script(src="libs/swiper/swiper-bundle.min.js") 
	// /slider libs

	script(src="js/common.js")
