//- menu
mixin mnu()
	-
		var nav= {
			"О тренинге":"#sReal",
			"Программа":"#sProgramm",
			"Результаты":"#sMoney",
			"Отзывы":"#sFeedBack",
			}
	+b.UL.navMenu
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href=linkPatch)= linkName
		+e.LI.item: +e.A.link(href="#sVersion") Цена
//- /menu